/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

.homepage-background {
    background-image: url('assets/homepage_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.results-background {
    background-image: url('assets/results_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}